#search-row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .col-plus{
        max-width: min-content !important;


    }
    
}

#category-card{
    .card-header{
        background-color: white;
        color: red;
        font-weight: 700;
    }

    .card-body{
        padding: 5px;
    }
}

.square-list{
    list-style-type:square;
    li{
        margin-top: 5px;
    }
    li.list-item{
        &:hover{
            color: red;
            cursor: pointer;
            font-weight: 600;
            font-size: large;
        }
    }
}