#search-row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .col-plus{
        max-width: min-content !important;
    }
    
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .child{
        flex-basis: 30%;
        margin-top: 20px;
    }
}