<div class="card shadow">
  <div class="card-header">
    <label>{{ product.name }}</label>
  </div>

  <div class="card-body">
    <img [src]="product.image" 
         class="img-fluid" 
         alt=""
         (mouseenter)="hover = true"
         (mouseleave)="hover = false">

    <p *ngIf="hover">{{ product.description }}</p>
  </div>

  <div class="card-footer">
    <button class="btn btn-warning rounded-circle" 
            [routerLink]="'./' + product.id"
            [queryParams]="{type:'edit'}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>

    <button class="btn btn-danger rounded-circle">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>

    <button class="btn btn-info rounded-circle" 
            [routerLink]="'./' + product.id"
            [queryParams]="{type:'consult'}">
      <i class="fa fa-eye text-white" aria-hidden="true"></i>
    </button>

  </div>
</div>