/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer !important;
}

.centered{
    margin-left: auto !important;
    margin-right: auto !important;
}