<div class="row" *ngIf="productForm" id="title-row">
  <div class="col">
    <h4 class="title text-center">
      {{ action | titlecase }} product
    </h4>
  </div>
</div>

<div class="row mt-4">
  <div class="col col-3 centered">
    <i class="fa fa-spinner fa-spin fa-4x text-danger text-center" 
       *ngIf="!productForm"
       aria-hidden="true">
    </i>
    <div class="card shadow"  *ngIf="productForm">
      <div class="card-body">
        <form [formGroup]="productForm">
          <div class="mb-1">
            <label class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control"  placeholder="...">
            <label class="text-danger">
              {{
                productForm.controls['name'] | Validations : 'name'
              }}
            </label>
          </div>
          <div class="mb-1">
            <label class="form-label">Price</label>
            <input type="number" formControlName="price" class="form-control">
            <label class="text-danger">
              {{
                productForm.controls['price'] | Validations : 'price'
              }}
            </label>
          </div>
          <div class="mb-1">
            <label class="form-label">Quantity</label>
            <input type="number" formControlName="quantity" class="form-control">
            <label class="text-danger">
              {{
                productForm.controls['quantity'] | Validations : 'quantity'
              }}
            </label>
          </div>
          <div class="mb-4">
            <label class="form-label">Image</label>
            <input type="file" (change)="handleUpload($event)" formControlName="image" accept=".jpg" class="form-control">
          </div>
          <div class="mb-1">
            <label class="form-label">Description</label>
            <textarea class="form-control" formControlName="description" rows="3"></textarea>
          </div>
        </form>
      </div>

      <div class="card-footer" *ngIf="action != 'consult'">
        <button class="btn btn-success rounded-circle" (click)="save()">
          <i class="fas fa-save"></i>
        </button>
        <button class="btn btn-danger rounded-circle" (click)="goBack()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>