#title-row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.card-footer{
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 0px;

    button{
        margin: 0 10px;
    }
}